* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.layout-container {
    display: grid;
    min-height: 100dvh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    
}

aside {
    grid-area: aside;
    background-color: rgb(66, 0, 0);
}

main {
    grid-area: main;
    background-color: rgb(59, 59, 3);
}

footer {
    grid-area: footer;
    background-color: black;
}

@media (max-width: 768px){
    .layout-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "footer";
    }
}