*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

.grid-container figure:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;   
}

.grid-container figure{
    border-radius: 1rem;
    position: relative;
    transition: ease-in-out 300ms;
    overflow: hidden;
}

.grid-container figure:hover{
    box-shadow: 0 2rem 10rem black;
    transform: scale(1.01) rotate(-1deg);
}

.grid-container img {
    width: 100%;      
    height: 100%;     
    object-fit: cover;
    display: block;

}

.grid-container figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background:rgba(0, 0, 0, 0.7);
    color: white;
    
}





@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
    grid-template-columns: 1fr;
    }

    .grid-container figure:nth-child(1){
    grid-column: auto;
    grid-row: auto;
}
}